@model PEPS_Beta.Models.PortefeuilleCouverture

<table>

    <tr>
        <td>Delta ESTOX et EUR</td>
        <td> @Model.DeltaEstox</td>
        <td> @Model.DeltaZCEur</td>
    </tr>

    <tr>
        <td>Delta SP500 et USD</td>
        <td> @Model.DeltaSp500</td>
        <td> @Model.DeltaZCUsd</td>
    </tr>

    <tr>
        <td>Delta N225 et JPY</td>
        <td> @Model.DeltaN225</td>
        <td> @Model.DeltaZCJpy</td>
    </tr>

    <tr>
        <td>Delta HANG et HKD</td>
        <td> @Model.DeltaHang</td>
        <td> @Model.DeltaZCHkd</td>
    </tr>

    <tr>
        <td>Delta FTSE et GBP</td>
        <td> @Model.DeltaFtse</td>
        <td> @Model.DeltaZCGbp</td>
    </tr>

    <tr>
        <td>Delta ASX et AUD</td>
        <td> @Model.DeltaAsx</td>
        <td> @Model.DeltaZCAud</td>
    </tr>

</table>