
@{
    Layout = null;
    Page.Title = "HOME PAGE FOR PRICER";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

       @using (Ajax.BeginForm("DisplayDate", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "date" }))
              {
                    <div>
                       <p> Date :</p>
                   </div>
                   <div id="date"> @ViewData["date"]</div>
                   <div>
                       <input type="submit" value="Send" class="submit" />
                   </div>
          }

    <div> Le prix d'une option multimonde avec les spécifications écrites dans ce code C# est : <span style="color:red">@ViewData["d"]</span>. L'intervalle de confiance associé à ce prix est : <span style="color:darkgreen">@ViewData["ic"]</span>
</div>


<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
</body>
</html>
