@model PEPS_Beta.Models.Indice


<div id=@Model.Nom></div>
@*@using (Html.BeginForm("IndiceLigne", "Home", Model))*@
@using (Ajax.BeginForm("IndiceLigne", "Home", new AjaxOptions { HttpMethod = "POST" }))
{
    @Html.HiddenFor(ourInd => Model.Id)

    <td>@Model.Nom</td>
    <td>@Model.Money</td>
    <td>
        <div>
            @Html.TextBoxFor(ourInd => Model.InterestRateThisArea)
        </div>
    </td>
    <td>
        <div>
            @Html.TextBoxFor(ourInd => Model.Vol)
        </div>
    </td>
    <td>
        <div>
            @*<label>&nbsp;</label>*@
            <button type="submit" class="btn btn-primary" value="Modifier Indice">Submit</button>
        </div>
    </td>
}
